
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <br>
    <div class="mail-container" style="background:rgba(8, 56, 2, 0.555);padding: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;line-height: 32px;letter-spacing: -0.003em;font-size: 21px;color: blanchedalmond;border-radius: 10px;">
    <br>
    <h1 class="text-center mt-3 mb-3" style="text-align:center;">Message from {{ name }}</h1>
    <br>
    <h4>Subject: {{ subject }}</h4>
    <p>Email: {{ email }</p>
    <p>Message: {{ message }}</p>
    <br>    
    </div>
    <br>
</div>
<br>

</body>
</html>
