
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <br>
    <div class="mail-container" style="background:rgba(8, 56, 2, 0.555);padding: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;line-height: 32px;letter-spacing: -0.003em;font-size: 21px;color: blanchedalmond;border-radius: 10px;">
    <br>
    <h1 class="text-center mt-3 mb-3" style="text-align:center;">Welcome to ConnectDjango</h1>
    <br>
    <p class="lead animated bounce infinite">Hi! {{ name }}</p>
    <p>We are happy that you've joined us.I want you to check out connectdjango's new look and function.Here we share what we have come to understand about django by letting other developers have a taste of our code and work.Since we have all been using django for some years now there are lots and lots of ways to structure the way our apps work that is coding and configurations.Not only can to mention you can also blog about django.As developers we are always learning new ways to write clean code.Share with us.</p>
    <br>
    <h3>Teaching</h3>
    <hr class="my-4">
    <ul>
        <li>what editor do you prefer?</li>
        <li>how you configure your projects?</li>
        <li>how you manage your static files?</li>
        <li>how you link your models in order to make things simple and easy to use?</li>
        <li>how do you connect your app to a frontend framework like React,Angular or Vue?</li>
        <li>how do you prepare your project for production?</li>
        <li>what services do you use?</li>
    </ul>
    <hr class="my-4">
    <h3>Blogging</h3>
    <ul>
        <li>What can you say about django?</li>
        <li>What makes you choose django from all the lists of backend frameworks out there?</li>
        <li>Advantages and Disadvantages of using django</li>
        <li>Django and frontend frameworks</li>
    </ul>
    <hr class="my-4">
    <p>There you have it,let's keeping djangoing  {{ name }}.</p>
    <p class="badge badge-info">By the way we are accepting contributions from all django developers,care to contribute?</p>
    <p>Head over to <a style="color:black;font-weight: bold;" href="https://github.com/gabrielstonedelza/connectdjango" target="_blank">our github repo</a> and read the documentation on how to contribute.</p>
    <p>Thanks {{ name }}.</p>
    <div class="connect-team">
        <span class="mr-2">ConnectDjango Team</span>
    </div>
    </div>
    <br>
</div>
<br>

</body>
</html>

